/* src/App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
}

.nav-item {
  margin-left: 15px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.hero-section {
  text-align: center;
  padding: 50px;
  background-image: url('../public/images/b1.jpg');
  background-size: cover;
  background-position: center;
  color: #333;
}

.hero-text {
  font-size: 36px;
  margin-bottom: 20px;
  color: #d60000;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), /* Outer glow */
               0 0 15px rgba(255, 165, 0, 0.6), /* Warm orange inner glow */
               0 0 25px rgba(255, 69, 0, 0.5); /* Reddish core glow */
  filter: brightness(1.2); /* Slight brightness to make text pop */
}


.hero-button {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(135deg, #ff7f50, #ff6347); /* Coral and tomato gradient */
  border: none;
  border-radius: 30px; /* Rounded edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth hover effect */
}

.hero-button:hover {
  background: linear-gradient(135deg, #ff6347, #ff4500); /* Slightly darker on hover */
  transform: translateY(-2px); /* Lifts the button slightly */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.hero-button:active {
  transform: translateY(1px); /* Push down on click */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* Reduced shadow on click */
}
.content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.bracelet-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
